<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmpt276.restaurant_inspector.UI">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="cmpt276.restaurant_inspector.UI.ViolationActivity"
            android:label="@string/title_activity_violation"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="cmpt276.restaurant_inspector.UI.InspectionActivity"></activity>
        <activity
            android:name="cmpt276.restaurant_inspector.UI.InspectionActivity"
            android:label="@string/title_activity_inspection"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="cmpt276.restaurant_inspector.UI.RestaurantActivity"/>
        <activity
            android:name="cmpt276.restaurant_inspector.UI.RestaurantActivity"
            android:label="@string/title_activity_restaurant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="cmpt276.restaurant_inspector.UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>